node_modules
.env
*.env
coverage
coverage.json
typechain
typechain-types
abi.json
bytecode.bin
gobuild

# NFT app
nft/build
nft/node_modules

# Hardhat files
cache
artifacts
allowlists

# Openzeppelin files
.openzeppelin/unknown-*1337.json

# IDEs
.idea
.vscode
